<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello this is heading in hbs</h1>
    <h3>{{text}}</h3>
      <a href="/">home</a>
    <a href="/about">about</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, blanditiis esse. Blanditiis reprehenderit nostrum eos deserunt quia omnis excepturi quibusdam ipsum! Molestias officiis exercitationem laudantium corporis esse eum repudiandae ex.</p>
</body>
</html>